@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

input,
select,
textarea {
  min-height: 35px !important;
  border: 1px solid #b9b9b9 !important;
  width: 100% !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #6a6a6a !important;
}

button {
  height: 35px !important;
  box-shadow: none !important;
}

table {
  border: 1px solid #f0f0f0;
}

a:hover {
  color: #61ab36;
}

.max-width {
  max-width: 20px !important;
}

.no-outline, .no-outline:focus {
  outline: none !important;
  border: none !important;
}
